{% extends "base.html.twig" %}

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/modifyByPutMethod.js"></script>
{% endblock %}

{% block body %}
	<h2>Modification (en PUT) d'annonce :
	</h2>
	<br>
	{# <form action="{{ path('annonce_edit', {'id': 9}) }}"> #}
	<input type="hidden" name="_method" value="PUT"/>
	<label for="id">id de l'annonce à modifier :</label>
	<input id="id-annonce" type="text" required="required" readonly="readonly" name="id-annonce" size='3' maxlength='3' value="{{ id }}">
	<br>
	<label for="titre">Titre de l'annonce à modifier :</label>
	<input type="text" required="required" name="titre" size='20' maxlength='20' value="{{ titre }}">
	<br>
	<label for="id">Contenu de l'annonce à modifier :</label>
	<input type="text" required="required" name="contenu" size='300' maxlength='50' value="{{ contenu }}">
	<br>
	<button id="submit" class="btn btn-primary">Modifier l'annonce</button>
	{# </form> #}
{% endblock %}

{% block title %}
	Modification en PUT
{% endblock %}
